<div>
    <div class="background">
        <div class="background-trans">
            <h1>PYTHON</h1>
        </div>
    </div>

    <div class="container">
        <div class="funtion">
            <h2>¿Qué es Python?</h2>
            <div class="text">
                <p>Python es un lenguaje de programación ampliamente utilizado en las aplicaciones web, el desarrollo de software, la ciencia de datos y el machine learning (ML). Los desarrolladores utilizan Python porque es eficiente y fácil de aprender, además de que se puede ejecutar en muchas plataformas diferentes. El software Python se puede descargar gratis, se integra bien a todos los tipos de sistemas y aumenta la velocidad del desarrollo.</p>
                
            </div>
        </div>
        <div class="funtion">
            <h2>¿Qué beneficios ofrece Python?</h2>
            <div class="text">
                <p>Los beneficios de Python incluyen los siguientes:</p>
                <ul>
                    <li>Los desarrolladores pueden leer y comprender fácilmente los programas de Python debido a su sintaxis básica similar a la del inglés. </li>
                    <li>Python permite que los desarrolladores sean más productivos, ya que pueden escribir un programa de Python con menos líneas de código en comparación con muchos otros lenguajes.</li>
                    <li>Python cuenta con una gran biblioteca estándar que contiene códigos reutilizables para casi cualquier tarea. De esta manera, los desarrolladores no tienen que escribir el código desde cero.</li>
                    <li>Los desarrolladores pueden utilizar Python fácilmente con otros lenguajes de programación conocidos, como Java, C y C++.</li>
                    <li>La comunidad activa de Python incluye millones de desarrolladores alrededor del mundo que prestan su apoyo. Si se presenta un problema, puede obtener soporte rápido de la comunidad.</li>
                    <li>Hay muchos recursos útiles disponibles en Internet si desea aprender Python. Por ejemplo, puede encontrar con facilidad videos, tutoriales, documentación y guías para desarrolladores.</li>
                    <li>Python se puede trasladar a través de diferentes sistemas operativos de computadora, como Windows, macOS, Linux y Unix.</li>

                </ul>
            </div>
        </div>
        <div class="funtion">
            <h2>Galería</h2>

            <div class="carrusel">
                <div class="boton-izquierda">
                    <button (click)="anterior()">&#10094;</button>
                </div>
                
                <img width="600" height="390" class="imagen" [src]="imagenActual" alt="Imagen Carrusel">
                <div class="boton-derecha">
                     <button (click)="siguiente()">&#10095;</button>
                </div>
            </div>
        </div>
    </div>
    
    
</div>