<div>
    <div class="background">
        <div class="background-trans">
            <h1>PHP</h1>
        </div>
    </div>

    <div class="container">
        <div class="funtion">
            <h2>¿Qué es PHP y cómo funciona?</h2>
            <div class="text">
                <p>PHP es un lenguaje de programación destinado a desarrollar aplicaciones para la web y crear páginas web, favoreciendo la conexión entre los servidores y la interfaz de usuario.</p>
                <p>Entre los factores que hicieron que PHP se volviera tan popular, se destaca el hecho de que es de código abierto.</p>
                <p>Esto significa que cualquiera puede hacer cambios en su estructura. En la práctica, esto representa dos cosas importantes:</p>
                <ul>
                    <li>es de código abierto, no hay restricciones de uso vinculadas a los derechos. El usuario puede usar PHP para programar en cualquier proyecto y comercializarlo sin problemas.</li>
                    <li>está en constante perfeccionamiento, gracias a una comunidad de desarrolladores proactiva y comprometida.</li>
                </ul>
            </div>
        </div>
        <div class="funtion">
            <h2>La función principal de PHP, en la práctica</h2>
            <div class="text">
                <p>El PHP generalmente es definido como un lenguaje del lado del servidor. Esto significa que se aplica en la programación que tiene lugar en el servidor web responsable de ejecutar la aplicación o, más a menudo, en un sitio web.</p>
                <p>Este trabajo previo permite cargar los elementos de una página antes de mostrarlos al usuario que accede a un sitio web, por ejemplo.</p>
                <p>El código PHP se ejecuta en el servidor que, al leer los comandos, puede activar todos los elementos funcionales y la interfaz visual del sitio web.</p>
                <p>Quizás, la aplicación principal del lenguaje PHP, cuando hablamos de la web, es estructurar sitios web en WordPress.</p>
                <p>La simplicidad para aprender a usarlo y el desarrollo del código abierto le facilita el trabajo a los profesionales que eligen estructurar sitios web utilizando la plataforma, pues a medida que avanzan las configuraciones y ediciones se simplifican aún más.</p>
            </div>
        </div>
        <div class="funtion">
            <h2>Galería</h2>

            <div class="carrusel">
                <div class="boton-izquierda">
                    <button (click)="anterior()">&#10094;</button>
                </div>
                
                <img width="600" height="390" class="imagen" [src]="imagenActual" alt="Imagen Carrusel">
                <div class="boton-derecha">
                     <button (click)="siguiente()">&#10095;</button>
                </div>
            </div>
        </div>
    </div>
    
    
</div>